{% extends 'base.html' %}
{% block content %}
    <style>
    .jumbotron {
      background-size: cover;
      padding-top: 10%;
      padding-bottom: 20%;
    }
    </style>
    <br>
<div style="text-align:center",class="card">
<div class="jumbotron">
<h2 class="text-center"> {{ title }} Post </h2>
<form method="Post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div class="form-outline mb-4" >
        {{ form.name.label }}
        {{ form.name(class="form-control",value=blog_post.title) }}
    </div>
    <div class="form-group",class="card-body">
        {{ form.caption.label }}
        {{ form.caption(class="form-control",value=blog_post.text,style='height: 100px') }}
        <br>
    </div>
    <div class="form-group">
            {{ form.picture.label }}
            {{ form.picture(class="form-file",value=blog_post.pic) }}
        </div>
<div>
    {{ form.submit(class_="btn btn-success") }}
    </div>
</form>
</div>
</div>
    </div>
{% endblock %}